{{ appSecondaryNavigation({
  label: "Sub navigation",
  items: [
    {
      href: baseUrl,
      text: "Details",
      active: secondaryNavId == "details"
    },
    {
      href: baseUrl + "/users",
      text: "Users",
      active: secondaryNavId == "users"
    },
    {
      href: "#",
      text: "Mentors",
      active: secondaryNavId == "mentors"
    } if organisation.type == "school",
    {
      href: "#",
      text: "Placements",
      active: secondaryNavId == "placements"
    } if organisation.type == "school",
    {
      href: "#",
      text: "Trainees",
      active: secondaryNavId == "trainees"
    } if organisation.type != "school",
    {
      href: "#",
      text: "Providers",
      active: secondaryNavId == "providers"
    } if organisation.type == "school",
    {
      href: "#",
      text: "Schools",
      active: secondaryNavId == "schools"
    } if organisation.type != "school"
  ]
}) }}
