{% extends "layouts/support.njk" %}

{% set hidePrimaryNavigation = true %}
{% set hideOrganisationSwitcher = true %}

{% set title = "Enter a provider name, UKPRN, URN or postcode" %}
{% set caption = "Add organisation" %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

  {% include "_includes/error-summary.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "_includes/page-heading.njk" %}

      <form action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>

        <div class="govuk-form-group {{- ' govuk-form-group--error' if (errors | getErrorMessage('school'))}}">
          {{ govukInput({
            id: "provider",
            name: "provider",
            label: {
              html: headingHtml,
              isPageHeading: true,
              classes: "govuk-label--l"
            },
            value: data.provider.name,
            autocomplete: "off",
            formGroup: {
              classes: "govuk-!-margin-bottom-0"
            },
            errorMessage: errors | getErrorMessage("provider")
          }) }}
          <div id="provider-autocomplete" class="govuk-body"></div>
        </div>


        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

      <p class="govuk-body">
        <a class="govuk-link" href="{{ actions.cancel }}">Cancel</a>
      </p>

    </div>
  </div>

{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/accessible-autocomplete.min.js"></script>
  <script src="/public/javascripts/debounce.js"></script>
  <script src="/public/javascripts/init-autocomplete.js"></script>

  <script type="text/javascript">
  initAutocomplete({
    element: "provider-autocomplete",
    input: "provider",
    path: "/provider-suggestions",
    type: "provider"
  });
  </script>
{% endblock %}
