{% extends "layouts/support.njk" %}

{% set hidePrimaryNavigation = true %}
{% set hideOrganisationSwitcher = true %}

{% set title = "Organisations" %}

{% block beforeContent %}

{% endblock %}

{% block content %}

  {% include "_includes/notification-banner.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "_includes/page-heading.njk" %}

      {{ govukButton({
        text: "Add organisation",
        href: actions.new
      }) }}

    </div>
  </div>

  <div class="app-filter-layout">
    <div class="app-filter-layout__filter">

      {% include "./_filter-panel.njk" %}

    </div>

    <div class="app-filter-layout__content">

      <div class="app-action-bar">
        <div class="app-action-bar__filter"></div>
      </div>

      {% include "./_search-panel.njk" %}

      {# {% include "./_sort-options.njk" %} #}

      {% if organisations.length %}

        <ul class="app-search-results">
          {% for organisation in organisations %}
            <li class="app-search-results__item">

              <h2 class="app-search-result__item-title">
                <a class="govuk-link" href="/support/organisations/{{ organisation.id }}">
                  <span class="app-search-result__provider-name">{{ organisation.name }}</span>
                </a>
              </h2>

              <dl class="app-result-detail">
                <div class="app-result-detail__row">
                  <dt class="app-result-detail__key">Organisation type</dt>
                  <dd class="app-result-detail__value">{{ organisation.type }}</dd>
                </div>
              </dl>

            </li>
{#
              <a class="app-search-result__course_name" href="/support/organisations/{{ organisation.id }}/details">
                {{ organisation.name }}
              </a>
            </li> #}
          {% endfor %}
        </ul>

        {% if pagination.pages > 1 %}
          {{ appPagination( pagination ) }}
        {% endif %}

      {% else %}

        {% include "./_no-results.njk" %}

      {% endif %}

    </div>
  </div>
{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script type="module">
  import { FilterToggleButton } from '/public/javascripts/components/filter-toggle-button.js'

  const filterToggleButton = new FilterToggleButton({
    bigModeMediaQuery: '(min-width: 48.063em)',
    startHidden: false,
    toggleButton: {
      container: $('.app-action-bar__filter'),
      showText: 'Show filter',
      hideText: 'Hide filter',
      classes: 'govuk-button--secondary govuk-!-margin-bottom-3'
    },
    closeButton: {
      container: $('.app-filter__header-action'),
      text: 'Close'
    },
    filter: {
      container: $('.app-filter-layout__filter')
    }
  })

  filterToggleButton.init()
</script>
{% endblock %}
