{{ govukSummaryList({
  rows: [

    {
      key: {
        text: "First name"
      },
      value: {
        text: mentor.firstName
      }
    },
    {
      key: {
        text: "Last name"
      },
      value: {
        text: mentor.lastName
      }
    },
    {
      key: {
        text: "Teacher reference number (TRN)"
      },
      value: {
        text: mentor.trn
      },
      actions: {
        items: [
          {
            href: actions.change,
            text: "Change",
            visuallyHiddenText: "teacher reference number (TRN)"
          }
        ]
      }
    },
    {
      key: {
        text: "Date of birth"
      },
      value: {
        text: mentor.dateOfBirth | datetime('dd/MM/yyyy')
      },
      actions: {
        items: [
          {
            href: actions.change,
            text: "Change",
            visuallyHiddenText: "date of birth"
          }
        ]
      }
    }
  ]
}) }}
