<table class="govuk-table app-table--vertical-align-middle">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header govuk-!-width-one-third">Name</th>
      <th class="govuk-table__header">Teacher reference number (TRN)</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    {% for mentor in mentors %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell app-table--courses__course-name">
          <a class="govuk-link" href="{{ actions.view }}/{{ mentor.id }}">
            {{ mentor.firstName }} {{ mentor.lastName }}
          </a>
        </td>
        <td class="govuk-table__cell">
          {{ mentor.trn if mentor.trn else "Not entered" }}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
