{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Subject level"
      },
      value: {
        text: placement.subjectLevel
      },
      actions: {
        items: [
          {
            href: actions.change,
            text: "Change",
            visuallyHiddenText: "subject level"
          }
        ]
      }
    },
    {
      key: {
        text: "Subject"
      },
      value: {
        text: placement.subject
      },
      actions: {
        items: [
          {
            href: actions.change,
            text: "Change",
            visuallyHiddenText: "subject"
          }
        ]
      }
    },
    {
      key: {
        text: "Mentor" + ("s" if claim.mentors.length > 1)
      },
      value: {
        text: placement.mentor
      },
      actions: {
        items: [
          {
            href: actions.change,
            text: "Change",
            visuallyHiddenText: "mentor"
          }
        ]
      }
    },
        {
      key: {
        text: "Window"
      },
      value: {
        text: placement.window
      },
      actions: {
        items: [
          {
            href: actions.change,
            text: "Change",
            visuallyHiddenText: "window"
          }
        ]
      }
    }
  ]
}) }}
