{% set subjectHtml %}
{% if placement.subjectLevel == "secondary" %}
  <ul class="govuk-list">
    {% for subject in placement.subjects %}
      <li>{{ subject | getSubjectLabel }}</li>
    {% endfor %}
  </ul>
{% else %}
  <p class="govuk-body">{{ placement.subjects | getSubjectLabel }}</p>
{% endif %}
{% endset %}

{% set mentorHtml %}
{% if placement.mentors == "unknown" %}
  <p class="govuk-body">Not known yet</p>
{% else %}
  <ul class="govuk-list">
    {% for mentor in placement.mentors %}
      <li>{{ mentor | getMentorName }}</li>
    {% endfor %}
  </ul>
{% endif %}
{% endset %}

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Subject level"
      },
      value: {
        text: placement.subjectLevel | getSubjectLevelLabel
      }
    },
    {
      key: {
        text: "Subject"
      },
      value: {
        html: subjectHtml
      },
      actions: {
        items: [
          {
            href: actions.change + "/subject",
            text: "Change",
            visuallyHiddenText: "subject"
          }
        ]
      }
    },
    {
      key: {
        text: "Mentor" + ("s" if claim.mentors.length > 1)
      },
      value: {
        html: mentorHtml
      },
      actions: {
        items: [
          {
            href: actions.change + "/mentor",
            text: "Change",
            visuallyHiddenText: "mentor"
          }
        ]
      }
    },
    {
      key: {
        text: "Window"
      },
      value: {
        text: placement.window | capitalize
      },
      actions: {
        items: [
          {
            href: actions.change + "/window",
            text: "Change",
            visuallyHiddenText: "window"
          }
        ]
      }
    },
    {
      key: {
        text: "Status"
      },
      value: {
        html: govukTag({
          text: "Published"
        })
      }
    }
  ]
}) }}
