{% set subjectHtml %}
{% if placement.subjectLevel == "secondary" %}
  <ul class="govuk-list">
    {% for subject in placement.subjects %}
      <li>{{ subject | getSubjectLabel }}</li>
    {% endfor %}
  </ul>
{% else %}
  <p class="govuk-body">{{ placement.subjects | getSubjectLabel }}</p>
{% endif %}
{% endset %}

{% set mentorHtml %}
  <ul class="govuk-list">
  {% for mentor in placement.mentors %}
  <li>{{ mentor | getMentorName }}</li>
  {% endfor %}
  </ul>
{% endset %}

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Subject level"
      },
      value: {
        text: placement.subjectLevel | getSubjectLevelLabel
      }
    },
    {
      key: {
        text: "Subject"
      },
      value: {
        html: subjectHtml
      },
      actions: {
        items: [
          {
            href: actions.change + "/subject",
            text: "Change",
            visuallyHiddenText: "subject"
          }
        ]
      }
    },
    {
      key: {
        text: "Mentor" + ("s" if claim.mentors.length > 1)
      },
      value: {
        html: mentorHtml
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "mentor"
          }
        ]
      }
    },
        {
      key: {
        text: "Placement window"
      },
      value: {
        text: placement.window | capitalize
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "window"
          }
        ]
      }
    }
  ]
}) }}
