<table class="govuk-table app-table--vertical-align-middle">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header govuk-!-width-one-third">Subject</th>
      <th class="govuk-table__header">Mentor</th>
      <th class="govuk-table__header">Window</th>
      <th class="govuk-table__header">Status</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    {% for placement in placements %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell app-table--courses__course-name">
          <a class="govuk-link" href="{{ actions.view }}/{{ placement.id }}">
            {{ placement.subjects | getPlacementLabel }}
          </a>
        </td>
        <td class="govuk-table__cell">
          <ul class="govuk-list">
            {% for mentor in placement.mentors %}
              <li>{{ mentor | getMentorName }}</li>
            {% endfor %}
          </ul>
        </td>
        <td class="govuk-table__cell">
          {{ placement.window | capitalize }}
        </td>
        <td class="govuk-table__cell">
          {{ govukTag({
            text: "Published"
          }) }}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
