{% extends "layouts/auth.njk" %}

{% set hideAccountNavigation = true %}

{% set title = "Registration complete"  %}

{% block pageTitle %}
{{ title }} – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        titleText: title,
        text: "Your DfE Sign-in account is ready to use. You will need your email address and password to sign in to your DfE Sign-in account",
        classes: "govuk-!-font-size-24"
      }) }}

      {{ govukButton({
        text: "Sign in with DfE Sign-in",
        href: actions.next
      }) }}

    </div>
  </div>
{% endblock %}
