{% extends "layouts/main.njk" %}

{% set primaryNavId = "settings" %}

{% set title = "Organisation details" %}

{% block beforeContent %}
{# {{ govukBackLink({
  text: "Back",
  href: actions.back
}) }} #}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "_includes/page-heading.njk" %}

      {% include "_includes/organisations/details.njk" %}

      {% if organisation.type == "school" %}

        {% include "_includes/organisations/additional-details.njk" %}

        {% include "_includes/organisations/send-details.njk" %}

        {% include "_includes/organisations/ofsted-details.njk" %}

      {% endif %}

      {% include "_includes/organisations/contact-details.njk" %}

    </div>
  </div>

{% endblock %}
