<h2 class="govuk-heading-m govuk-!-margin-top-9">
  Special educational needs and disabilities (SEND)
</h2>

{% set sendHtml %}
  {% if organisation.send %}
    <ul class="govuk-list">
      {% for send in organisation.send %}
        <li>
          {{ send | getSENDProvisionLabel }}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p class="govuk-hint">
      Not entered
    </p>
  {% endif %}
{% endset %}

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Special classes"
      },
      value: {
        text: organisation.specialClasses | getSpecialClassesLabel if organisation.specialClasses else "Not entered",
        classes: "govuk-hint" if not organisation.specialClasses
      },
      actions: {
        items: [
          {
            href: actions.change + "/special-classes",
            text: "Change",
            visuallyHiddenText: "special classes"
          }
        ]
      } if 1==0
    },
    {
      key: {
        html: '<abbr title="Special educational needs and disability">SEND</abbr> provision'
      },
      value: {
        html: sendHtml
      },
      actions: {
        items: [
          {
            href: actions.change + "/send-provision",
            text: "Change",
            visuallyHiddenText: "SEND provision"
          }
        ]
      } if 1==0
    },
    {
      key: {
        text: "Training with disabilities"
      },
      value: {
        text: organisation.trainingWithDisabilities if organisation.trainingWithDisabilities else "Not entered",
        classes: "govuk-hint" if not organisation.trainingWithDisabilities
      },
      actions: {
        items: [
          {
            href: actions.change + "/training-with-disabilities",
            text: "Change",
            visuallyHiddenText: "training with disabilities"
          }
        ]
      }
    }
  ]
}) }}
