{% extends "layouts/main.njk" %}

{% set primaryNavId = "placements" %}

{% set title = "Placements" %}

{% block beforeContent %}

{% endblock %}

{% block content %}

  {% include "_includes/notification-banner.njk" %}

  <div class="govuk-grid-row">
    <div class="{{ 'govuk-grid-column-full' if organisation.type in ['university','scitt'] else 'govuk-grid-column-two-thirds' }}">

      {% include "_includes/page-heading.njk" %}

      {% if organisation.type in ["university","scitt"] %}
        {{ govukButton({
          text: "Find new placement",
          href: actions.find
        }) }}

        <h2 class="govuk-heading-m">Partner school placements</h2>

        {% if placements.length %}
          {% include "./_search-panel.njk" %}
          {% include "_includes/placements/providers/list.njk" %}
          {# {% include "_includes/pagination.njk" %} #}
        {% else %}
          <p class="govuk-body">There are no placements for your partner schools.</p>
        {% endif %}

      {% else %}
        {% if not mentors.length %}
          {% set mentorHtml %}
            <p class="govuk-body">
              You need to <a href="{{ actions.mentors }}" class="govuk-link">add a mentor</a> before creating a placement.
            </p>
          {% endset %}

          {{ govukInsetText({
            html: mentorHtml
          }) }}
        {% else %}
          {{ govukButton({
            text: "Add placement",
            href: actions.new
          }) }}
        {% endif %}

        {% if placements.length %}
          {% include "_includes/placements/schools/list.njk" %}
          {# {% include "_includes/pagination.njk" %} #}
        {% else %}
          <p class="govuk-body">There are no placements for {{ organisation.name if organisation.name else "your organisation" }}.</p>
        {% endif %}
      {% endif %}

      {% include "_includes/pagination.njk" %}

    </div>
  </div>

{% endblock %}
