{% extends "layouts/main.njk" %}

{% set primaryNavId = "placements" %}

{% set title = "Subject" %}
{% set caption = "Add placement" %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

  {% include "_includes/notification-banner.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set headingHtml %}
        {% include "_includes/page-heading-legend.njk" %}
      {% endset %}

      <form action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>

        {% if placement.subjectLevel == "secondary" %}

          {{ govukCheckboxes({
            name: "placement[subjects][]",
            fieldset: {
              legend: {
                html: headingHtml,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
                text: "Select all that apply"
            },
            errorMessage: errors | getErrorMessage("subject"),
            values: placement.subjects,
            items: subjectOptions
          }) }}

        {% else %}

          {{ govukRadios({
            name: "placement[subjects]",
            fieldset: {
              legend: {
                html: headingHtml,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            errorMessage: errors | getErrorMessage("subject"),
            value: placement.subjects,
            items: subjectOptions
          }) }}

        {% endif %}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

      <p class="govuk-body">
        <a class="govuk-link" href="{{ actions.cancel }}">Cancel</a>
      </p>

    </div>
  </div>

{% endblock %}
