{% extends "layouts/main.njk" %}

{% set primaryNavId = "placements" %}

{% set title = "Placements" %}

{% block beforeContent %}

{% endblock %}

{% block content %}

  {% include "_includes/notification-banner.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "_includes/page-heading.njk" %}

      {% if not mentors.length %}
        {% set mentorHtml %}
          <p class="govuk-body">
            You need to <a href="{{ actions.mentors }}" class="govuk-link">add a mentor</a> before creating a placement.
          </p>
        {% endset %}

        {{ govukInsetText({
          html: mentorHtml
        }) }}
      {% else %}
        {{ govukButton({
          text: "Add placement",
          href: actions.new
        }) }}
      {% endif %}

      {% if placements.length %}
        {% include "_includes/placements/schools/list.njk" %}
        {% include "_includes/pagination.njk" %}
      {% else %}
        <p class="govuk-body">There are no placements for {{ organisation.name if organisation.name else "your organisation" }}.</p>
      {% endif %}

    </div>
  </div>

{% endblock %}
