<p class="govuk-body">Showing {{pagination.firstResultNumber}} to {{pagination.lastResultNumber}} of {{pagination.totalCount}} results</p>

{% if pagination.pageCount > 1 %}
  {{ govukPagination({
    classes: "govuk-!-margin-top-4",
    previous: {
      href: pagination.previousPage.href
    },
    next: {
      href: pagination.nextPage.href
    },
    items: pagination.pageItems
  }) }}
{% endif %}
