{% extends "layouts/main.njk" %}

{% set primaryNavId = "placements" %}

{% set title = placement.name %}
{% set caption = placement.school.name %}

{% block pageTitle %}
{{ "Error: " if errors }}{{ title + " - " if title }}{{ caption + " - " if caption }}{{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back to results",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "_includes/page-heading.njk" %}

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "School type"
            },
            value: {
              text: placement.school.establishmentType | getEstablishmentTypeLabel if placement.school.establishmentType else "Not entered",
              classes: "govuk-hint" if not placement.school.establishmentType
            }
          },
          {
            key: {
              text: "School phase"
            },
            value: {
              text: placement.school.establishmentPhase | getEstablishmentPhaseLabel if placement.school.establishmentPhase else "Not entered",
              classes: "govuk-hint" if not placement.school.establishmentPhase
            }
          },
          {
            key: {
              text: "School gender"
            },
            value: {
              text: placement.school.gender | getGenderLabel if placement.school.gender else "Not entered",
              classes: "govuk-hint" if not placement.school.gender
            }
          },
          {
            key: {
              text: "Age range"
            },
            value: {
              text: placement.school.minAge + " to " + placement.school.maxAge if placement.school.minAge and placement.school.maxAge else "Not entered",
              classes: "govuk-hint" if not placement.school.minAge and placement.school.maxAge
            }
          },
          {
            key: {
              text: "Religious character"
            },
            value: {
              text: placement.school.religiousCharacter | getReligiousCharacterLabel if placement.school.religiousCharacter else "Not entered",
              classes: "govuk-hint" if not placement.school.religiousCharacter
            }
          },
          {
            key: {
              text: "Urban or rural"
            },
            value: {
              text: placement.school.urbanRural | getUrbanRuralLabel if placement.school.urbanRural else "Not entered",
              classes: "govuk-hint" if not placement.school.urbanRural
            }
          },
          {
            key: {
              text: "Admissions policy"
            },
            value: {
              text: placement.school.admissionsPolicy | getAdmissionsPolicyLabel if placement.school.admissionsPolicy else "Not entered",
              classes: "govuk-hint" if not placement.school.admissionsPolicy
            }
          },
          {
            key: {
              text: "Percentage free school meals"
            },
            value: {
              text: placement.school.percentageFreeSchoolMeals | numeral('0.0') + "%" if placement.school.percentageFreeSchoolMeals else "Not entered",
              classes: "govuk-hint" if not placement.school.percentageFreeSchoolMeals
            }
          },
          {
            key: {
              text: "Ofsted rating"
            },
            value: {
              text: placement.school.ofsted.rating | getOfstedRatingLabel if placement.school.ofsted.rating else "Not entered",
              classes: "govuk-hint" if not placement.school.ofstedRating
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-5">Mentor details</h2>

      {% set mentorHtml %}
        {% if placement.mentors != "unknown" %}
          <ul class="govuk-list">
            {% for mentor in placements.mentors %}
              <li>{{ mentor | getTeacherName }}</li>
            {% endfor %}
          </ul>
        {% else %}
          <p class="govuk-body">Not known yet</p>
        {% endif %}
      {% endset %}

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Mentor" + ("s" if placement.mentors.length > 1)
            },
            value: {
              html: mentorHtml
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-5">Contact details</h2>

      {% set addressHtml %}
        {% if placement.school.address.addressLine1.length %}
          {{ placement.school.address.addressLine1 }}<br>
        {% endif %}
        {% if placement.school.address.addressLine2.length %}
          {{ placement.school.address.addressLine2 }}<br>
        {% endif %}
        {% if placement.school.address.addressLine3.length %}
          {{ placement.school.address.addressLine3 }}<br>
        {% endif %}
        {% if placement.school.address.town.length %}
          {{ placement.school.address.town }}<br>
        {% endif %}
        {% if placement.school.address.county.length %}
          {{ placement.school.address.county }}<br>
        {% endif %}
        {% if placement.school.address.postcode.length %}
          {{ placement.school.address.postcode }}<br>
        {% endif %}
      {% endset %}

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Placement coordinator"
            },
            value: {
              text: "Jane Doe"
            }
          },
          {
            key: {
              text: "Email address"
            },
            value: {
              text: "placements@example.com" | urlize | safe
            }
          },
          {
            key: {
              text: "Telephone number"
            },
            value: {
              text: placement.school.contact.telephone if placement.school.contact.telephone.length else "Not entered",
              classes: "govuk-hint" if not placement.school.contact.telephone.length
            }
          } if 1==0,
          {
            key: {
              text: "Website"
            },
            value: {
              text: (placement.school.contact.website | urlize | safe) if placement.school.contact.website.length else "Not entered",
              classes: "govuk-hint" if not placement.school.contact.website.length
            }
          },
          {
            key: {
              text: "Address"
            },
            value: {
              html: ('<p class="govuk-body">' + addressHtml + '</p>') if addressHtml | trim | length else "Not entered",
              classes: "govuk-hint" if not addressHtml | trim | length
            }
          }
        ]
      }) }}

    </div>
  </div>

{% endblock %}
