{% extends "layouts/support.njk" %}

{% set primaryNavId = "organisations" %}

{% set title = "Check your answers" %}
{% set caption = "Add partner provider - " + organisation.name %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "_includes/page-heading.njk" %}

      <form action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>

        {% set addressHtml %}
          {% if provider.address.addressLine1.length
            and provider.address.town.length
            and provider.address.postcode.length %}
            <p class="govuk-body">
              {% if provider.address.addressLine1.length %}
                {{ provider.address.addressLine1 }}<br>
              {% endif %}
              {% if provider.address.addressLine2.length %}
                {{ provider.address.addressLine2 }}<br>
              {% endif %}
              {% if provider.address.town.length %}
                {{ provider.address.town }}<br>
              {% endif %}
              {% if provider.address.county.length %}
                {{ provider.address.county }}<br>
              {% endif %}
              {% if provider.address.postcode.length %}
                {{ provider.address.postcode | upper }}<br>
              {% endif %}
            </p>
          {% else %}
            <p class="govuk-hint">Not entered</p>
          {% endif %}

        {% endset %}

        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Organisation name"
              },
              value: {
                text: provider.name if provider.name else "Not entered",
                classes: "govuk-hint" if not provider.name
              },
              actions: {
                items: [
                  {
                    href: actions.change + "/" + "?referrer=check",
                    text: "Change",
                    visuallyHiddenText: "name"
                  }
                ]
              }
            },
            {
              key: {
                text: "UK provider reference number (UKPRN)"
              },
              value: {
                text: provider.ukprn if provider.ukprn else "Not entered",
                classes: "govuk-hint" if not provider.ukprn
              }
            },
            {
              key: {
                text: "Unique reference number (URN)"
              },
              value: {
                text: provider.urn if provider.urn else "Not entered",
                classes: "govuk-hint" if not provider.urn
              }
            }
          ]
        }) }}

        {% set organisation = provider %}

        {% include "_includes/organisations/contact-details.njk" %}

        {{ govukButton({
          text: "Add partner provider"
        }) }}

      </form>

      <p class="govuk-body">
        <a class="govuk-link" href="{{ actions.cancel }}">Cancel</a>
      </p>

    </div>
  </div>

{% endblock %}
