{% extends "layouts/main.njk" %}

{% set primaryNavId = "mentors" %}

{% set title = "Find teacher" %}
{% set caption = "Add mentor" %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

  {% include "_includes/error-summary.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "_includes/page-heading.njk" %}

      <form action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>

        {{ govukInput({
          id: "mentor",
          name: "mentor[trn]",
          label: {
            text: "Teacher reference number (TRN)",
            isPageHeading: false,
            classes: "govuk-label--s"
          },
          hint: {
            text: "It’s a 7 digit number. For example, 1234567"
          },
          value: data.mentor.trn,
          classes: "govuk-input--width-20",
          errorMessage: errors | getErrorMessage("trn")
        }) }}

        {{ govukDetails({
          summaryText: "Help with the teacher reference number (TRN)",
          html: 'If your mentor does not have a TRN, share the <a href="https://www.gov.uk/guidance/teacher-reference-number-trn" rel="noreferrer noopener" target="_blank">teacher reference number (TRN) guidance (opens in new tab)</a> to find a lost TRN, or apply for one.'
        }) }}

        {{ govukDateInput({
          id: "dob",
          fieldset: {
            legend: {
              text: "Date of birth",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: "For example, 31 3 1980"
          },
          items: [
            {
              name: "mentor[dob]",
              label: "Day",
              value: data.mentor.dob[0],
              classes: "govuk-input--width-2" + (" govuk-input--error" if errors | getErrorMessage("dob"))
            },
            {
              name: "mentor[dob]",
              label: "Month",
              value: data.mentor.dob[1],
              classes: "govuk-input--width-2" + (" govuk-input--error" if errors | getErrorMessage("dob"))
            },
            {
              name: "mentor[dob]",
              label: "Year",
              value: data.mentor.dob[2],
              classes: "govuk-input--width-4" + (" govuk-input--error" if errors | getErrorMessage("dob"))
            }
          ],
          errorMessage: errors | getErrorMessage("dob")
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

      <p class="govuk-body">
        <a class="govuk-link" href="{{ actions.cancel }}">Cancel</a>
      </p>

    </div>
  </div>

{% endblock %}
