<h2 class="govuk-heading-m govuk-!-margin-top-9">Contact details</h2>

{% set addressHtml %}
  {% if placement.school.address.addressLine1.length %}
    {{ placement.school.address.addressLine1 }}<br>
  {% endif %}
  {% if placement.school.address.addressLine2.length %}
    {{ placement.school.address.addressLine2 }}<br>
  {% endif %}
  {% if placement.school.address.addressLine3.length %}
    {{ placement.school.address.addressLine3 }}<br>
  {% endif %}
  {% if placement.school.address.town.length %}
    {{ placement.school.address.town }}<br>
  {% endif %}
  {% if placement.school.address.county.length %}
    {{ placement.school.address.county }}<br>
  {% endif %}
  {% if placement.school.address.postcode.length %}
    {{ placement.school.address.postcode }}<br>
  {% endif %}
{% endset %}

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Placement coordinator"
      },
      value: {
        text: "Jane Doe"
      }
    },
    {
      key: {
        text: "Email address"
      },
      value: {
        text: "placements@example.com" | urlize | safe
      }
    },
    {
      key: {
        text: "Telephone number"
      },
      value: {
        text: placement.school.contact.telephone if placement.school.contact.telephone.length else "Not entered",
        classes: "govuk-hint" if not placement.school.contact.telephone.length
      }
    } if 1==0,
    {
      key: {
        text: "Website"
      },
      value: {
        text: (placement.school.contact.website | urlize | safe) if placement.school.contact.website.length else "Not entered",
        classes: "govuk-hint" if not placement.school.contact.website.length
      }
    },
    {
      key: {
        text: "Address"
      },
      value: {
        html: ('<p class="govuk-body">' + addressHtml + '</p>') if addressHtml | trim | length else "Not entered",
        classes: "govuk-hint" if not addressHtml | trim | length
      }
    }
  ]
}) }}
