<table class="govuk-table app-table--vertical-align-middle">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header">Name</th>
      <th class="govuk-table__header">UK provider reference number (UKPRN)</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    {% for partner in partners %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <a class="govuk-link" href="{{ actions.view }}/{{ partner.id }}">
            {{ partner.name }}
          </a>
        </td>
        <td class="govuk-table__cell">
          {{ partner.ukprn if partner.ukprn else "Not entered" }}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
