{% extends "layouts/support.njk" %}

{% set primaryNavId = "users" %}

{% set title = "Users" %}

{% block beforeContent %}

{% endblock %}

{% block content %}

  {% include "_includes/notification-banner.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "_includes/page-heading.njk" %}

      {{ govukButton({
        text: "Add user",
        href: actions.new
      }) }}

      {% if users.length %}
        {% include "_includes/users/list.njk" %}
        {% include "_includes/pagination.njk" %}
      {% else %}
        <p class="govuk-body">There are no users for {{ organisation.name if organisation.name else "your organisation" }}.</p>
      {% endif %}

    </div>
  </div>

{% endblock %}
