{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% from "_components/footer/macro.njk" import appFooter %}

{% block pageTitle %}
  {{ title + " - " if title }}{{ caption + " - " if caption }}{{ serviceName }} - GOV.UK
{% endblock %}

{% block head %}
  {% include "_includes/head.njk" %}
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    productName: serviceName,
    containerClasses: "govuk-width-container"
  }) }}

  {% include "_includes/phase-banner.njk" %}
{% endblock %}

{% block footer %}
  {% include "_includes/footer.njk" %}
{% endblock %}
